.respawn{
    height: 100vh;
    width: 100vw;
    /* background-color: #060606; */
    position: relative;
    /* scroll-behavior: smooth; */

}

.sub-text{
    font-family: arial;
    font-size: 1.3em;
    color: var(--subtext);
    opacity: 0.67;
}
.vector-1{

    position: absolute;
    width: 1120px;
    height: 622px;
    right: 0px;
    top: 214px;

   
    filter: blur(200px);
    display: none;

}
.para{
    font-family: 'Inter', sans-serif;
}
.img-div{
    justify-content: center;
    align-items: center;
    
}
.respawn-btn{
    border: none;
    background-color: var(--button);
    color: var(--para);
}
.main-div{
    height: 100%;
    width: 100%;
    position: relative;
    /* flex-direction: column-reverse; */
    /* display: flex;
    flex-direction: row-reverse; */
}
.home-div{
    height: 100%;
}
/* @font-face {
    font-family: handbrook;
    src: url(.\Assets\Fonts\Haverbrooke.ttf);
  } */
h2{
    font-family: haverbooke, sans-serif;
    color: var(--font);
    font-size: 2.4em;
}
.para{
    color: var(--para);
    line-height: 1.7em;
}
.home-img{
    width: 80%;
}
.home-para-div{
    width: 95%;
}

@media screen and (min-width: 768px){
    .home-img{
        width: 90%;
        /* background-color: #5F0F7E; */
    }
    .home-para-div{
        width: 500px;
    }
    .sub-text{
        font-family: arial;
        font-size: 2em;
        color: var(--subtext);
    }
    .img-div{
        width: 100%;
    height: 100%;
    }
    h2{
        font-family: haverbooke, sans-serif;
        color: var(--font);
        font-size: 3.5em;
    }
    .vector-1{

        position: absolute;
        width: 1120px;
        height: 622px;
        right: 0px;
        top: 214px;
        display: block;
       
        filter: blur(200px);

    }
    .main-div{
        height: 100%;
        width: 100%;
        position: relative;
        flex-direction: row-reverse;
        /* display: flex;
        flex-direction: row-reverse; */
    }
}