.division-heading{
    font-size: 1.5em;
}
.division-img{
    width: 100px;
}
.division-img-div{
    width: 90%;
}
@media screen and (min-width: 768px){
    .division-heading{
        font-size: 2em;
    }
    .division-img-div{
        width: 60%;
    }
    .division-img{
        width: 150px;
    }
}