#contact>div>div{
    width: fit-content;
}
#contact{
    background: rgb(6,6,6);
    flex-direction: column;
    background: linear-gradient(180deg, rgba(6,6,6,0.3) 20%, rgb(0, 0, 0.6) 38%); 
}
#contact>div{
    display: flex;
    flex-direction: column;
}
#contact>div>div>p{
    font-family: haverbooke;
    color: var(--font);
    font-size: 0.9em;
}
.footer-logo{
    width: 150px;
}
.footer-icon-div{
    flex-direction: column;
    color: var(--font);
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--font);
}
@media screen and (min-width: 768px) {
    #contact>div{
        flex-direction: row;
    }
    .footer-icon-div{
        flex-direction: row;
        width: 85%;
    }
}
