#highlights{
    position: relative;
}
.vdo-screen{
    width: 90%;
    height: 300px;
}
.vector-2{
    display: none;
}
@media screen and (min-width: 768px) {
    .vdo-screen{
        width: 80%;
        height: 700px;
    }
}