.logo{
    width: 150px;
    height: auto;
}
.navbar{
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: var(--background);
}
#navlink{
    font-family: haverbooke;
    text-decoration: none;
    color: var(--font);
}
.navbar-toggler-icon{
    color: #fff;
}
@media screen and (min-width: 768px) {
    .navbar{
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: transparent;
    }
}