body{
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  /* scroll-behavior: smooth; */
  position: absolute;
    background-image: url("./Assets/Images/pattern.png");
    background-color: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* html{
  scroll-behavior: smooth !important;
} */
.App {
  text-align: center;
  height: 100%;
}
#root{
  height: 100%;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
:root{
  --font: #FBFBF9;
  --background: #060606;
  --subtext: #EAE8DD;
  --para: #FFFFFF;
  --button: #8B5CF6;
  --secondary: #DCB410;
}
@font-face {
  font-family: haverbooke;
  /* src: url(./Assets/Fonts/Haverbrooke.ttf); */
  src: url(./Assets/Fonts/Haverbrooke.ttf);
}
@font-face {
  font-family: arial;
  src: url(./Assets/Fonts/ARLRDBD.ttf);
}